<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.AreasMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.Areas" >
    <id column="AREA_CODE" property="areaCode" jdbcType="CHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="SUPER_AREA" property="superArea" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="AREA_TYPE" property="areaType" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    AREA_CODE, AREA_NAME, SUPER_AREA, STATUS, AREA_TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from INF_AREAS
    where AREA_CODE = #{areaCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from INF_AREAS
    where AREA_CODE = #{areaCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.Areas" >
    insert into INF_AREAS (AREA_CODE, AREA_NAME, SUPER_AREA, 
      STATUS, AREA_TYPE)
    values (#{areaCode,jdbcType=CHAR}, #{areaName,jdbcType=VARCHAR}, #{superArea,jdbcType=CHAR}, 
      #{status,jdbcType=DECIMAL}, #{areaType,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.Areas" >
    insert into INF_AREAS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
      <if test="areaName != null" >
        AREA_NAME,
      </if>
      <if test="superArea != null" >
        SUPER_AREA,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="areaType != null" >
        AREA_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaCode != null" >
        #{areaCode,jdbcType=CHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="superArea != null" >
        #{superArea,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="areaType != null" >
        #{areaType,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.Areas" >
    update INF_AREAS
    <set >
      <if test="areaName != null" >
        AREA_NAME = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="superArea != null" >
        SUPER_AREA = #{superArea,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="areaType != null" >
        AREA_TYPE = #{areaType,jdbcType=DECIMAL},
      </if>
    </set>
    where AREA_CODE = #{areaCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.Areas" >
    update INF_AREAS
    set AREA_NAME = #{areaName,jdbcType=VARCHAR},
      SUPER_AREA = #{superArea,jdbcType=CHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      AREA_TYPE = #{areaType,jdbcType=DECIMAL}
    where AREA_CODE = #{areaCode,jdbcType=CHAR}
  </update>
</mapper>