<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.GameBatchImportMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.GameBatchImport" >
    <id column="IMPORT_NO" property="importNo" jdbcType="CHAR" />
    <result column="PLAN_CODE" property="planCode" jdbcType="VARCHAR" />
    <result column="BATCH_NO" property="batchNo" jdbcType="VARCHAR" />
    <result column="PACKAGE_FILE" property="packageFile" jdbcType="VARCHAR" />
    <result column="REWARD_MAP_FILE" property="rewardMapFile" jdbcType="VARCHAR" />
    <result column="REWARD_DETAIL_FILE" property="rewardDetailFile" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="IMPORT_ADMIN" property="importAdmin" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IMPORT_NO, PLAN_CODE, BATCH_NO, PACKAGE_FILE, REWARD_MAP_FILE, REWARD_DETAIL_FILE, 
    START_DATE, END_DATE, IMPORT_ADMIN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from GAME_BATCH_IMPORT
    where IMPORT_NO = #{importNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from GAME_BATCH_IMPORT
    where IMPORT_NO = #{importNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.GameBatchImport" >
    insert into GAME_BATCH_IMPORT (IMPORT_NO, PLAN_CODE, BATCH_NO, 
      PACKAGE_FILE, REWARD_MAP_FILE, REWARD_DETAIL_FILE, 
      START_DATE, END_DATE, IMPORT_ADMIN
      )
    values (#{importNo,jdbcType=CHAR}, #{planCode,jdbcType=VARCHAR}, #{batchNo,jdbcType=VARCHAR}, 
      #{packageFile,jdbcType=VARCHAR}, #{rewardMapFile,jdbcType=VARCHAR}, #{rewardDetailFile,jdbcType=VARCHAR}, 
      #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{importAdmin,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.GameBatchImport" >
    insert into GAME_BATCH_IMPORT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="importNo != null" >
        IMPORT_NO,
      </if>
      <if test="planCode != null" >
        PLAN_CODE,
      </if>
      <if test="batchNo != null" >
        BATCH_NO,
      </if>
      <if test="packageFile != null" >
        PACKAGE_FILE,
      </if>
      <if test="rewardMapFile != null" >
        REWARD_MAP_FILE,
      </if>
      <if test="rewardDetailFile != null" >
        REWARD_DETAIL_FILE,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="importAdmin != null" >
        IMPORT_ADMIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="importNo != null" >
        #{importNo,jdbcType=CHAR},
      </if>
      <if test="planCode != null" >
        #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="packageFile != null" >
        #{packageFile,jdbcType=VARCHAR},
      </if>
      <if test="rewardMapFile != null" >
        #{rewardMapFile,jdbcType=VARCHAR},
      </if>
      <if test="rewardDetailFile != null" >
        #{rewardDetailFile,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="importAdmin != null" >
        #{importAdmin,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.GameBatchImport" >
    update GAME_BATCH_IMPORT
    <set >
      <if test="planCode != null" >
        PLAN_CODE = #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="packageFile != null" >
        PACKAGE_FILE = #{packageFile,jdbcType=VARCHAR},
      </if>
      <if test="rewardMapFile != null" >
        REWARD_MAP_FILE = #{rewardMapFile,jdbcType=VARCHAR},
      </if>
      <if test="rewardDetailFile != null" >
        REWARD_DETAIL_FILE = #{rewardDetailFile,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="importAdmin != null" >
        IMPORT_ADMIN = #{importAdmin,jdbcType=DECIMAL},
      </if>
    </set>
    where IMPORT_NO = #{importNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.GameBatchImport" >
    update GAME_BATCH_IMPORT
    set PLAN_CODE = #{planCode,jdbcType=VARCHAR},
      BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      PACKAGE_FILE = #{packageFile,jdbcType=VARCHAR},
      REWARD_MAP_FILE = #{rewardMapFile,jdbcType=VARCHAR},
      REWARD_DETAIL_FILE = #{rewardDetailFile,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=TIMESTAMP},
      END_DATE = #{endDate,jdbcType=TIMESTAMP},
      IMPORT_ADMIN = #{importAdmin,jdbcType=DECIMAL}
    where IMPORT_NO = #{importNo,jdbcType=CHAR}
  </update>
</mapper>