<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.ItemIssueDetailMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.ItemIssueDetail" >
    <id column="II_NO" property="iiNo" jdbcType="CHAR" />
    <id column="SEQUENCE_NO" property="sequenceNo" jdbcType="DECIMAL" />
    <result column="ITEM_CODE" property="itemCode" jdbcType="CHAR" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    II_NO, SEQUENCE_NO, ITEM_CODE, QUANTITY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cls.pilottery.model.ItemIssueDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from ITEM_ISSUE_DETAIL
    where II_NO = #{iiNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cls.pilottery.model.ItemIssueDetailKey" >
    delete from ITEM_ISSUE_DETAIL
    where II_NO = #{iiNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.ItemIssueDetail" >
    insert into ITEM_ISSUE_DETAIL (II_NO, SEQUENCE_NO, ITEM_CODE, 
      QUANTITY)
    values (#{iiNo,jdbcType=CHAR}, #{sequenceNo,jdbcType=DECIMAL}, #{itemCode,jdbcType=CHAR}, 
      #{quantity,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.ItemIssueDetail" >
    insert into ITEM_ISSUE_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iiNo != null" >
        II_NO,
      </if>
      <if test="sequenceNo != null" >
        SEQUENCE_NO,
      </if>
      <if test="itemCode != null" >
        ITEM_CODE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iiNo != null" >
        #{iiNo,jdbcType=CHAR},
      </if>
      <if test="sequenceNo != null" >
        #{sequenceNo,jdbcType=DECIMAL},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=CHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.ItemIssueDetail" >
    update ITEM_ISSUE_DETAIL
    <set >
      <if test="itemCode != null" >
        ITEM_CODE = #{itemCode,jdbcType=CHAR},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
    </set>
    where II_NO = #{iiNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.ItemIssueDetail" >
    update ITEM_ISSUE_DETAIL
    set ITEM_CODE = #{itemCode,jdbcType=CHAR},
      QUANTITY = #{quantity,jdbcType=DECIMAL}
    where II_NO = #{iiNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </update>
</mapper>