<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.OrganizationAreaMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.OrganizationAreaKey" >
    <id column="ORG_CODE" property="orgCode" jdbcType="CHAR" />
    <id column="AREA_CODE" property="areaCode" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="cls.pilottery.model.OrganizationAreaKey" >
    delete from INF_ORG_AREA
    where ORG_CODE = #{orgCode,jdbcType=CHAR}
      and AREA_CODE = #{areaCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.OrganizationAreaKey" >
    insert into INF_ORG_AREA (ORG_CODE, AREA_CODE)
    values (#{orgCode,jdbcType=CHAR}, #{areaCode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.OrganizationAreaKey" >
    insert into INF_ORG_AREA
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgCode != null" >
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>