<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.PrivilegeMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.Privilege" >
    <id column="PRIVILEGE_ID" property="privilegeId" jdbcType="DECIMAL" />
    <result column="PRIVILEGE_NAME" property="privilegeName" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_CODE" property="privilegeCode" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_SYSTEM" property="privilegeSystem" jdbcType="DECIMAL" />
    <result column="PRIVILEGE_IS_CENTER" property="privilegeIsCenter" jdbcType="DECIMAL" />
    <result column="PRIVILEGE_AGREEDAY" property="privilegeAgreeday" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_LOGINBEGIN" property="privilegeLoginbegin" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_LOGINEND" property="privilegeLoginend" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_REMARK" property="privilegeRemark" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_URL" property="privilegeUrl" jdbcType="VARCHAR" />
    <result column="PRIVILEGE_PARENT" property="privilegeParent" jdbcType="DECIMAL" />
    <result column="PRIVILEGE_LEVEL" property="privilegeLevel" jdbcType="DECIMAL" />
    <result column="PRIVILEGE_ORDER" property="privilegeOrder" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    PRIVILEGE_ID, PRIVILEGE_NAME, PRIVILEGE_CODE, PRIVILEGE_SYSTEM, PRIVILEGE_IS_CENTER, 
    PRIVILEGE_AGREEDAY, PRIVILEGE_LOGINBEGIN, PRIVILEGE_LOGINEND, PRIVILEGE_REMARK, PRIVILEGE_URL, 
    PRIVILEGE_PARENT, PRIVILEGE_LEVEL, PRIVILEGE_ORDER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ADM_PRIVILEGE
    where PRIVILEGE_ID = #{privilegeId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ADM_PRIVILEGE
    where PRIVILEGE_ID = #{privilegeId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.Privilege" >
    insert into ADM_PRIVILEGE (PRIVILEGE_ID, PRIVILEGE_NAME, PRIVILEGE_CODE, 
      PRIVILEGE_SYSTEM, PRIVILEGE_IS_CENTER, PRIVILEGE_AGREEDAY, 
      PRIVILEGE_LOGINBEGIN, PRIVILEGE_LOGINEND, 
      PRIVILEGE_REMARK, PRIVILEGE_URL, PRIVILEGE_PARENT, 
      PRIVILEGE_LEVEL, PRIVILEGE_ORDER)
    values (#{privilegeId,jdbcType=DECIMAL}, #{privilegeName,jdbcType=VARCHAR}, #{privilegeCode,jdbcType=VARCHAR}, 
      #{privilegeSystem,jdbcType=DECIMAL}, #{privilegeIsCenter,jdbcType=DECIMAL}, #{privilegeAgreeday,jdbcType=VARCHAR}, 
      #{privilegeLoginbegin,jdbcType=VARCHAR}, #{privilegeLoginend,jdbcType=VARCHAR}, 
      #{privilegeRemark,jdbcType=VARCHAR}, #{privilegeUrl,jdbcType=VARCHAR}, #{privilegeParent,jdbcType=DECIMAL}, 
      #{privilegeLevel,jdbcType=DECIMAL}, #{privilegeOrder,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.Privilege" >
    insert into ADM_PRIVILEGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="privilegeId != null" >
        PRIVILEGE_ID,
      </if>
      <if test="privilegeName != null" >
        PRIVILEGE_NAME,
      </if>
      <if test="privilegeCode != null" >
        PRIVILEGE_CODE,
      </if>
      <if test="privilegeSystem != null" >
        PRIVILEGE_SYSTEM,
      </if>
      <if test="privilegeIsCenter != null" >
        PRIVILEGE_IS_CENTER,
      </if>
      <if test="privilegeAgreeday != null" >
        PRIVILEGE_AGREEDAY,
      </if>
      <if test="privilegeLoginbegin != null" >
        PRIVILEGE_LOGINBEGIN,
      </if>
      <if test="privilegeLoginend != null" >
        PRIVILEGE_LOGINEND,
      </if>
      <if test="privilegeRemark != null" >
        PRIVILEGE_REMARK,
      </if>
      <if test="privilegeUrl != null" >
        PRIVILEGE_URL,
      </if>
      <if test="privilegeParent != null" >
        PRIVILEGE_PARENT,
      </if>
      <if test="privilegeLevel != null" >
        PRIVILEGE_LEVEL,
      </if>
      <if test="privilegeOrder != null" >
        PRIVILEGE_ORDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="privilegeId != null" >
        #{privilegeId,jdbcType=DECIMAL},
      </if>
      <if test="privilegeName != null" >
        #{privilegeName,jdbcType=VARCHAR},
      </if>
      <if test="privilegeCode != null" >
        #{privilegeCode,jdbcType=VARCHAR},
      </if>
      <if test="privilegeSystem != null" >
        #{privilegeSystem,jdbcType=DECIMAL},
      </if>
      <if test="privilegeIsCenter != null" >
        #{privilegeIsCenter,jdbcType=DECIMAL},
      </if>
      <if test="privilegeAgreeday != null" >
        #{privilegeAgreeday,jdbcType=VARCHAR},
      </if>
      <if test="privilegeLoginbegin != null" >
        #{privilegeLoginbegin,jdbcType=VARCHAR},
      </if>
      <if test="privilegeLoginend != null" >
        #{privilegeLoginend,jdbcType=VARCHAR},
      </if>
      <if test="privilegeRemark != null" >
        #{privilegeRemark,jdbcType=VARCHAR},
      </if>
      <if test="privilegeUrl != null" >
        #{privilegeUrl,jdbcType=VARCHAR},
      </if>
      <if test="privilegeParent != null" >
        #{privilegeParent,jdbcType=DECIMAL},
      </if>
      <if test="privilegeLevel != null" >
        #{privilegeLevel,jdbcType=DECIMAL},
      </if>
      <if test="privilegeOrder != null" >
        #{privilegeOrder,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.Privilege" >
    update ADM_PRIVILEGE
    <set >
      <if test="privilegeName != null" >
        PRIVILEGE_NAME = #{privilegeName,jdbcType=VARCHAR},
      </if>
      <if test="privilegeCode != null" >
        PRIVILEGE_CODE = #{privilegeCode,jdbcType=VARCHAR},
      </if>
      <if test="privilegeSystem != null" >
        PRIVILEGE_SYSTEM = #{privilegeSystem,jdbcType=DECIMAL},
      </if>
      <if test="privilegeIsCenter != null" >
        PRIVILEGE_IS_CENTER = #{privilegeIsCenter,jdbcType=DECIMAL},
      </if>
      <if test="privilegeAgreeday != null" >
        PRIVILEGE_AGREEDAY = #{privilegeAgreeday,jdbcType=VARCHAR},
      </if>
      <if test="privilegeLoginbegin != null" >
        PRIVILEGE_LOGINBEGIN = #{privilegeLoginbegin,jdbcType=VARCHAR},
      </if>
      <if test="privilegeLoginend != null" >
        PRIVILEGE_LOGINEND = #{privilegeLoginend,jdbcType=VARCHAR},
      </if>
      <if test="privilegeRemark != null" >
        PRIVILEGE_REMARK = #{privilegeRemark,jdbcType=VARCHAR},
      </if>
      <if test="privilegeUrl != null" >
        PRIVILEGE_URL = #{privilegeUrl,jdbcType=VARCHAR},
      </if>
      <if test="privilegeParent != null" >
        PRIVILEGE_PARENT = #{privilegeParent,jdbcType=DECIMAL},
      </if>
      <if test="privilegeLevel != null" >
        PRIVILEGE_LEVEL = #{privilegeLevel,jdbcType=DECIMAL},
      </if>
      <if test="privilegeOrder != null" >
        PRIVILEGE_ORDER = #{privilegeOrder,jdbcType=DECIMAL},
      </if>
    </set>
    where PRIVILEGE_ID = #{privilegeId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.Privilege" >
    update ADM_PRIVILEGE
    set PRIVILEGE_NAME = #{privilegeName,jdbcType=VARCHAR},
      PRIVILEGE_CODE = #{privilegeCode,jdbcType=VARCHAR},
      PRIVILEGE_SYSTEM = #{privilegeSystem,jdbcType=DECIMAL},
      PRIVILEGE_IS_CENTER = #{privilegeIsCenter,jdbcType=DECIMAL},
      PRIVILEGE_AGREEDAY = #{privilegeAgreeday,jdbcType=VARCHAR},
      PRIVILEGE_LOGINBEGIN = #{privilegeLoginbegin,jdbcType=VARCHAR},
      PRIVILEGE_LOGINEND = #{privilegeLoginend,jdbcType=VARCHAR},
      PRIVILEGE_REMARK = #{privilegeRemark,jdbcType=VARCHAR},
      PRIVILEGE_URL = #{privilegeUrl,jdbcType=VARCHAR},
      PRIVILEGE_PARENT = #{privilegeParent,jdbcType=DECIMAL},
      PRIVILEGE_LEVEL = #{privilegeLevel,jdbcType=DECIMAL},
      PRIVILEGE_ORDER = #{privilegeOrder,jdbcType=DECIMAL}
    where PRIVILEGE_ID = #{privilegeId,jdbcType=DECIMAL}
  </update>
</mapper>