<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.StockTransferDetailMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.StockTransferDetail" >
    <id column="STB_NO" property="stbNo" jdbcType="CHAR" />
    <id column="SEQUENCE_NO" property="sequenceNo" jdbcType="DECIMAL" />
    <result column="PLAN_CODE" property="planCode" jdbcType="VARCHAR" />
    <result column="PACKAGES" property="packages" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STB_NO, SEQUENCE_NO, PLAN_CODE, PACKAGES, AMOUNT, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cls.pilottery.model.StockTransferDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from SALE_TB_APPLY_DETAIL
    where STB_NO = #{stbNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cls.pilottery.model.StockTransferDetailKey" >
    delete from SALE_TB_APPLY_DETAIL
    where STB_NO = #{stbNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.StockTransferDetail" >
    insert into SALE_TB_APPLY_DETAIL (STB_NO, SEQUENCE_NO, PLAN_CODE, 
      PACKAGES, AMOUNT, REMARK
      )
    values (#{stbNo,jdbcType=CHAR}, #{sequenceNo,jdbcType=DECIMAL}, #{planCode,jdbcType=VARCHAR}, 
      #{packages,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.StockTransferDetail" >
    insert into SALE_TB_APPLY_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stbNo != null" >
        STB_NO,
      </if>
      <if test="sequenceNo != null" >
        SEQUENCE_NO,
      </if>
      <if test="planCode != null" >
        PLAN_CODE,
      </if>
      <if test="packages != null" >
        PACKAGES,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stbNo != null" >
        #{stbNo,jdbcType=CHAR},
      </if>
      <if test="sequenceNo != null" >
        #{sequenceNo,jdbcType=DECIMAL},
      </if>
      <if test="planCode != null" >
        #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="packages != null" >
        #{packages,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.StockTransferDetail" >
    update SALE_TB_APPLY_DETAIL
    <set >
      <if test="planCode != null" >
        PLAN_CODE = #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="packages != null" >
        PACKAGES = #{packages,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where STB_NO = #{stbNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.StockTransferDetail" >
    update SALE_TB_APPLY_DETAIL
    set PLAN_CODE = #{planCode,jdbcType=VARCHAR},
      PACKAGES = #{packages,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where STB_NO = #{stbNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </update>
</mapper>