@CHARSET "UTF-8";

.report-print-button {
	
	font-family: "microsoft yahei", "微软雅黑";
	position: relative;
	line-height: 25px;
	padding: 1px 20px;
	transition: all .3s ease-out;
	border: 1px solid #90cd00;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #90cd00;
	font-size: 14px;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	float:left;
	
}

.report-print-button:hover {
	background: #9bdb03;
}