body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:880px;
  height:663px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:663px;
}
#u1 {
  position:absolute;
  left:2px;
  top:324px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:386px;
  top:40px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#0099FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:486px;
  top:613px;
  width:55px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:120px;
  top:290px;
  width:660px;
  height:84px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:84px;
}
#u8 {
  position:absolute;
  left:2px;
  top:34px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:138px;
  top:306px;
  width:40px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:320px;
  top:306px;
  width:40px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:496px;
  top:306px;
  width:40px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:138px;
  top:348px;
  width:66px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:320px;
  top:348px;
  width:66px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:121px;
  top:390px;
  width:659px;
  height:214px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:214px;
}
#u20 {
  position:absolute;
  left:2px;
  top:99px;
  width:655px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:615px;
  top:427px;
  width:18px;
  height:18px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:615px;
  top:455px;
  width:18px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u24 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:356px;
  top:613px;
  width:55px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:715px;
  top:558px;
  width:55px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u27 {
  position:absolute;
  left:101px;
  top:109px;
  width:79px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:346px;
  top:106px;
  width:60px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30 {
  position:absolute;
  left:187px;
  top:107px;
  width:143px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u31 {
  position:absolute;
  left:101px;
  top:160px;
  width:79px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:188px;
  top:160px;
  width:343px;
  height:86px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:112px;
  top:0px;
  width:112px;
  height:20px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:224px;
  top:0px;
  width:114px;
  height:20px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:20px;
  width:112px;
  height:21px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:112px;
  top:20px;
  width:112px;
  height:21px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:224px;
  top:20px;
  width:114px;
  height:21px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:41px;
  width:112px;
  height:20px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:112px;
  top:41px;
  width:112px;
  height:20px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:224px;
  top:41px;
  width:114px;
  height:20px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:61px;
  width:112px;
  height:20px;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:112px;
  top:61px;
  width:112px;
  height:20px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:224px;
  top:61px;
  width:114px;
  height:20px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:101px;
  top:254px;
  width:79px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:190px;
  top:254px;
  width:250px;
  height:22px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:22px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u61 {
  position:absolute;
  left:428px;
  top:118px;
  width:402px;
  height:162px;
  overflow:hidden;
  visibility:hidden;
}
#u61_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u61_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:-2px;
  top:0px;
  width:398px;
  height:160px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:160px;
}
#u63 {
  position:absolute;
  left:2px;
  top:72px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:104px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:48px;
  top:0px;
  width:92px;
  height:36px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:140px;
  top:0px;
  width:86px;
  height:36px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:226px;
  top:0px;
  width:82px;
  height:36px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:308px;
  top:0px;
  width:88px;
  height:36px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:36px;
  width:48px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:48px;
  top:36px;
  width:92px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:140px;
  top:36px;
  width:86px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:226px;
  top:36px;
  width:82px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:308px;
  top:36px;
  width:88px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:66px;
  width:48px;
  height:33px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:33px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:48px;
  top:66px;
  width:92px;
  height:33px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:140px;
  top:66px;
  width:86px;
  height:33px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:226px;
  top:66px;
  width:82px;
  height:33px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:308px;
  top:66px;
  width:88px;
  height:33px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:18px;
  top:44px;
  width:60px;
  height:16px;
}
#u96 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u97 {
  position:absolute;
  left:18px;
  top:74px;
  width:60px;
  height:16px;
}
#u98 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u99 {
  position:absolute;
  left:110px;
  top:125px;
  width:60px;
  height:25px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u100 {
  position:absolute;
  left:210px;
  top:125px;
  width:60px;
  height:25px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u101 {
  position:absolute;
  left:121px;
  top:390px;
  width:659px;
  height:214px;
  overflow:hidden;
  visibility:hidden;
}
#u101_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:214px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u101_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:690px;
  height:230px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:230px;
}
#u103 {
  position:absolute;
  left:2px;
  top:107px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:332px;
  top:40px;
  width:66px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:102px;
  top:40px;
  width:66px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:102px;
  top:73px;
  width:92px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:332px;
  top:73px;
  width:66px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:583px;
  top:176px;
  width:55px;
  height:23px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u113 {
  position:absolute;
  left:130px;
  top:404px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:201px;
  top:404px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:281px;
  top:404px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:351px;
  top:404px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:437px;
  top:404px;
  width:27px;
  height:16px;
  color:#0099FF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:482px;
  top:404px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:561px;
  top:404px;
  width:40px;
  height:16px;
  color:#0099FF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
