<html>
<head>
<script>
    var ws = new WebSocket('ws://192.168.26.122:8080/soc');
	ws.onmessage = function(event) {
	    //alert(event.data);
        var data = eval('(' + event.data + ')');
		var table = document.getElementById('message');
		var row = table.insertRow(-1);
		row.style.backgroundColor = "RED";
        //row.className =		
		row.insertCell().innerHTML = data['message'];
		row.insertCell().innerHTML = data['id'];
		row.insertCell().innerHTML = data['type'];
		row.insertCell().innerHTML = data['time'];
    };
	
	function say() {
        ws.send(document.getElementById('chat').value);
        document.getElementById('chat').value = '';
	}
</script>
</head>
<body>
<br>Hello, world!&nbsp;&nbsp;&nbsp;&nbsp;<input id='chat'><button onclick='say()'>Say</button><br>
<hr>
<br>
<table id='message' border="1">

<thead>
<tr><td width="180">Time</td><td width="100">Type</td><td width="120">Id</td><td>Message</td></tr>
</thead>

<tbody>
</tbody>

</table>
<br>
</body>
</html>
