<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.ItemReceiptMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.ItemReceipt" >
    <id column="IR_NO" property="irNo" jdbcType="CHAR" />
    <result column="CREATE_ADMIN" property="createAdmin" jdbcType="DECIMAL" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="SEND_ORG" property="sendOrg" jdbcType="CHAR" />
    <result column="SEND_WH" property="sendWh" jdbcType="CHAR" />
    <result column="SEND_MANAGER" property="sendManager" jdbcType="DECIMAL" />
    <result column="SEND_DATE" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IR_NO, CREATE_ADMIN, CREATE_DATE, SEND_ORG, SEND_WH, SEND_MANAGER, SEND_DATE, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ITEM_RECEIPT
    where IR_NO = #{irNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ITEM_RECEIPT
    where IR_NO = #{irNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.ItemReceipt" >
    insert into ITEM_RECEIPT (IR_NO, CREATE_ADMIN, CREATE_DATE, 
      SEND_ORG, SEND_WH, SEND_MANAGER, 
      SEND_DATE, STATUS)
    values (#{irNo,jdbcType=CHAR}, #{createAdmin,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, 
      #{sendOrg,jdbcType=CHAR}, #{sendWh,jdbcType=CHAR}, #{sendManager,jdbcType=DECIMAL}, 
      #{sendDate,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.ItemReceipt" >
    insert into ITEM_RECEIPT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="irNo != null" >
        IR_NO,
      </if>
      <if test="createAdmin != null" >
        CREATE_ADMIN,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="sendOrg != null" >
        SEND_ORG,
      </if>
      <if test="sendWh != null" >
        SEND_WH,
      </if>
      <if test="sendManager != null" >
        SEND_MANAGER,
      </if>
      <if test="sendDate != null" >
        SEND_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="irNo != null" >
        #{irNo,jdbcType=CHAR},
      </if>
      <if test="createAdmin != null" >
        #{createAdmin,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendOrg != null" >
        #{sendOrg,jdbcType=CHAR},
      </if>
      <if test="sendWh != null" >
        #{sendWh,jdbcType=CHAR},
      </if>
      <if test="sendManager != null" >
        #{sendManager,jdbcType=DECIMAL},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.ItemReceipt" >
    update ITEM_RECEIPT
    <set >
      <if test="createAdmin != null" >
        CREATE_ADMIN = #{createAdmin,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendOrg != null" >
        SEND_ORG = #{sendOrg,jdbcType=CHAR},
      </if>
      <if test="sendWh != null" >
        SEND_WH = #{sendWh,jdbcType=CHAR},
      </if>
      <if test="sendManager != null" >
        SEND_MANAGER = #{sendManager,jdbcType=DECIMAL},
      </if>
      <if test="sendDate != null" >
        SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IR_NO = #{irNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.ItemReceipt" >
    update ITEM_RECEIPT
    set CREATE_ADMIN = #{createAdmin,jdbcType=DECIMAL},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      SEND_ORG = #{sendOrg,jdbcType=CHAR},
      SEND_WH = #{sendWh,jdbcType=CHAR},
      SEND_MANAGER = #{sendManager,jdbcType=DECIMAL},
      SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL}
    where IR_NO = #{irNo,jdbcType=CHAR}
  </update>
</mapper>