<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.ItemTypesMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.ItemTypes" >
    <id column="ITEM_CODE" property="itemCode" jdbcType="CHAR" />
    <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
    <result column="BASE_UNIT_NAME" property="baseUnitName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ITEM_CODE, ITEM_NAME, BASE_UNIT_NAME, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ITEM_ITEMS
    where ITEM_CODE = #{itemCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ITEM_ITEMS
    where ITEM_CODE = #{itemCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.ItemTypes" >
    insert into ITEM_ITEMS (ITEM_CODE, ITEM_NAME, BASE_UNIT_NAME, 
      STATUS)
    values (#{itemCode,jdbcType=CHAR}, #{itemName,jdbcType=VARCHAR}, #{baseUnitName,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.ItemTypes" >
    insert into ITEM_ITEMS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemCode != null" >
        ITEM_CODE,
      </if>
      <if test="itemName != null" >
        ITEM_NAME,
      </if>
      <if test="baseUnitName != null" >
        BASE_UNIT_NAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemCode != null" >
        #{itemCode,jdbcType=CHAR},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="baseUnitName != null" >
        #{baseUnitName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.ItemTypes" >
    update ITEM_ITEMS
    <set >
      <if test="itemName != null" >
        ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="baseUnitName != null" >
        BASE_UNIT_NAME = #{baseUnitName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where ITEM_CODE = #{itemCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.ItemTypes" >
    update ITEM_ITEMS
    set ITEM_NAME = #{itemName,jdbcType=VARCHAR},
      BASE_UNIT_NAME = #{baseUnitName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where ITEM_CODE = #{itemCode,jdbcType=CHAR}
  </update>
</mapper>