<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.OrganizationsMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.Organizations" >
    <id column="ORG_CODE" property="orgCode" jdbcType="CHAR" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="ORG_TYPE" property="orgType" jdbcType="DECIMAL" />
    <result column="ORG_STATUS" property="orgStatus" jdbcType="DECIMAL" />
    <result column="SUPER_ORG" property="superOrg" jdbcType="CHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="DIRECTOR_ADMIN" property="directorAdmin" jdbcType="DECIMAL" />
    <result column="PERSONS" property="persons" jdbcType="DECIMAL" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ORG_CODE, ORG_NAME, ORG_TYPE, ORG_STATUS, SUPER_ORG, PHONE, DIRECTOR_ADMIN, PERSONS, 
    ADDRESS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from INF_ORGS
    where ORG_CODE = #{orgCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from INF_ORGS
    where ORG_CODE = #{orgCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.Organizations" >
    insert into INF_ORGS (ORG_CODE, ORG_NAME, ORG_TYPE, 
      ORG_STATUS, SUPER_ORG, PHONE, 
      DIRECTOR_ADMIN, PERSONS, ADDRESS
      )
    values (#{orgCode,jdbcType=CHAR}, #{orgName,jdbcType=VARCHAR}, #{orgType,jdbcType=DECIMAL}, 
      #{orgStatus,jdbcType=DECIMAL}, #{superOrg,jdbcType=CHAR}, #{phone,jdbcType=VARCHAR}, 
      #{directorAdmin,jdbcType=DECIMAL}, #{persons,jdbcType=DECIMAL}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.Organizations" >
    insert into INF_ORGS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="orgName != null" >
        ORG_NAME,
      </if>
      <if test="orgType != null" >
        ORG_TYPE,
      </if>
      <if test="orgStatus != null" >
        ORG_STATUS,
      </if>
      <if test="superOrg != null" >
        SUPER_ORG,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="directorAdmin != null" >
        DIRECTOR_ADMIN,
      </if>
      <if test="persons != null" >
        PERSONS,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgCode != null" >
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="orgName != null" >
        #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        #{orgType,jdbcType=DECIMAL},
      </if>
      <if test="orgStatus != null" >
        #{orgStatus,jdbcType=DECIMAL},
      </if>
      <if test="superOrg != null" >
        #{superOrg,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="directorAdmin != null" >
        #{directorAdmin,jdbcType=DECIMAL},
      </if>
      <if test="persons != null" >
        #{persons,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.Organizations" >
    update INF_ORGS
    <set >
      <if test="orgName != null" >
        ORG_NAME = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="orgType != null" >
        ORG_TYPE = #{orgType,jdbcType=DECIMAL},
      </if>
      <if test="orgStatus != null" >
        ORG_STATUS = #{orgStatus,jdbcType=DECIMAL},
      </if>
      <if test="superOrg != null" >
        SUPER_ORG = #{superOrg,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="directorAdmin != null" >
        DIRECTOR_ADMIN = #{directorAdmin,jdbcType=DECIMAL},
      </if>
      <if test="persons != null" >
        PERSONS = #{persons,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where ORG_CODE = #{orgCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.Organizations" >
    update INF_ORGS
    set ORG_NAME = #{orgName,jdbcType=VARCHAR},
      ORG_TYPE = #{orgType,jdbcType=DECIMAL},
      ORG_STATUS = #{orgStatus,jdbcType=DECIMAL},
      SUPER_ORG = #{superOrg,jdbcType=CHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      DIRECTOR_ADMIN = #{directorAdmin,jdbcType=DECIMAL},
      PERSONS = #{persons,jdbcType=DECIMAL},
      ADDRESS = #{address,jdbcType=VARCHAR}
    where ORG_CODE = #{orgCode,jdbcType=CHAR}
  </update>
</mapper>