<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.ReturnRecoderMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.ReturnRecoder" >
    <id column="RETURN_NO" property="returnNo" jdbcType="CHAR" />
    <result column="AGENCY_CODE" property="agencyCode" jdbcType="CHAR" />
    <result column="MARKET_MANAGER_ADMIN" property="marketManagerAdmin" jdbcType="DECIMAL" />
    <result column="APPLY_DATE" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="WAREHOUSE_MANAGER_ADMIN" property="warehouseManagerAdmin" jdbcType="DECIMAL" />
    <result column="INBOUND_DATE" property="inboundDate" jdbcType="TIMESTAMP" />
    <result column="FINANCE_ADMIN" property="financeAdmin" jdbcType="DECIMAL" />
    <result column="APPROVE_DATE" property="approveDate" jdbcType="TIMESTAMP" />
    <result column="PACKAGES" property="packages" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="APPROVE_REMARK" property="approveRemark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RETURN_NO, AGENCY_CODE, MARKET_MANAGER_ADMIN, APPLY_DATE, WAREHOUSE_MANAGER_ADMIN, 
    INBOUND_DATE, FINANCE_ADMIN, APPROVE_DATE, PACKAGES, AMOUNT, STATUS, APPROVE_REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SALE_RETURN_RECODER
    where RETURN_NO = #{returnNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SALE_RETURN_RECODER
    where RETURN_NO = #{returnNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.ReturnRecoder" >
    insert into SALE_RETURN_RECODER (RETURN_NO, AGENCY_CODE, MARKET_MANAGER_ADMIN, 
      APPLY_DATE, WAREHOUSE_MANAGER_ADMIN, INBOUND_DATE, 
      FINANCE_ADMIN, APPROVE_DATE, PACKAGES, 
      AMOUNT, STATUS, APPROVE_REMARK
      )
    values (#{returnNo,jdbcType=CHAR}, #{agencyCode,jdbcType=CHAR}, #{marketManagerAdmin,jdbcType=DECIMAL}, 
      #{applyDate,jdbcType=TIMESTAMP}, #{warehouseManagerAdmin,jdbcType=DECIMAL}, #{inboundDate,jdbcType=TIMESTAMP}, 
      #{financeAdmin,jdbcType=DECIMAL}, #{approveDate,jdbcType=TIMESTAMP}, #{packages,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{approveRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.ReturnRecoder" >
    insert into SALE_RETURN_RECODER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="returnNo != null" >
        RETURN_NO,
      </if>
      <if test="agencyCode != null" >
        AGENCY_CODE,
      </if>
      <if test="marketManagerAdmin != null" >
        MARKET_MANAGER_ADMIN,
      </if>
      <if test="applyDate != null" >
        APPLY_DATE,
      </if>
      <if test="warehouseManagerAdmin != null" >
        WAREHOUSE_MANAGER_ADMIN,
      </if>
      <if test="inboundDate != null" >
        INBOUND_DATE,
      </if>
      <if test="financeAdmin != null" >
        FINANCE_ADMIN,
      </if>
      <if test="approveDate != null" >
        APPROVE_DATE,
      </if>
      <if test="packages != null" >
        PACKAGES,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="approveRemark != null" >
        APPROVE_REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="returnNo != null" >
        #{returnNo,jdbcType=CHAR},
      </if>
      <if test="agencyCode != null" >
        #{agencyCode,jdbcType=CHAR},
      </if>
      <if test="marketManagerAdmin != null" >
        #{marketManagerAdmin,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warehouseManagerAdmin != null" >
        #{warehouseManagerAdmin,jdbcType=DECIMAL},
      </if>
      <if test="inboundDate != null" >
        #{inboundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="financeAdmin != null" >
        #{financeAdmin,jdbcType=DECIMAL},
      </if>
      <if test="approveDate != null" >
        #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="packages != null" >
        #{packages,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="approveRemark != null" >
        #{approveRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.ReturnRecoder" >
    update SALE_RETURN_RECODER
    <set >
      <if test="agencyCode != null" >
        AGENCY_CODE = #{agencyCode,jdbcType=CHAR},
      </if>
      <if test="marketManagerAdmin != null" >
        MARKET_MANAGER_ADMIN = #{marketManagerAdmin,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="warehouseManagerAdmin != null" >
        WAREHOUSE_MANAGER_ADMIN = #{warehouseManagerAdmin,jdbcType=DECIMAL},
      </if>
      <if test="inboundDate != null" >
        INBOUND_DATE = #{inboundDate,jdbcType=TIMESTAMP},
      </if>
      <if test="financeAdmin != null" >
        FINANCE_ADMIN = #{financeAdmin,jdbcType=DECIMAL},
      </if>
      <if test="approveDate != null" >
        APPROVE_DATE = #{approveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="packages != null" >
        PACKAGES = #{packages,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="approveRemark != null" >
        APPROVE_REMARK = #{approveRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where RETURN_NO = #{returnNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.ReturnRecoder" >
    update SALE_RETURN_RECODER
    set AGENCY_CODE = #{agencyCode,jdbcType=CHAR},
      MARKET_MANAGER_ADMIN = #{marketManagerAdmin,jdbcType=DECIMAL},
      APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      WAREHOUSE_MANAGER_ADMIN = #{warehouseManagerAdmin,jdbcType=DECIMAL},
      INBOUND_DATE = #{inboundDate,jdbcType=TIMESTAMP},
      FINANCE_ADMIN = #{financeAdmin,jdbcType=DECIMAL},
      APPROVE_DATE = #{approveDate,jdbcType=TIMESTAMP},
      PACKAGES = #{packages,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      APPROVE_REMARK = #{approveRemark,jdbcType=VARCHAR}
    where RETURN_NO = #{returnNo,jdbcType=CHAR}
  </update>
</mapper>