<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.WhGoodsIssueDetailMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.WhGoodsIssueDetail" >
    <id column="SGI_NO" property="sgiNo" jdbcType="CHAR" />
    <id column="SEQUENCE_NO" property="sequenceNo" jdbcType="DECIMAL" />
    <result column="ISSUE_TYPE" property="issueType" jdbcType="DECIMAL" />
    <result column="REF_NO" property="refNo" jdbcType="CHAR" />
    <result column="VALID_NUMBER" property="validNumber" jdbcType="DECIMAL" />
    <result column="PLAN_CODE" property="planCode" jdbcType="VARCHAR" />
    <result column="BATCH_NO" property="batchNo" jdbcType="VARCHAR" />
    <result column="TRUNK_NO" property="trunkNo" jdbcType="VARCHAR" />
    <result column="BOX_NO" property="boxNo" jdbcType="DECIMAL" />
    <result column="PACKAGE_NO" property="packageNo" jdbcType="VARCHAR" />
    <result column="TICKETS" property="tickets" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    SGI_NO, SEQUENCE_NO, ISSUE_TYPE, REF_NO, VALID_NUMBER, PLAN_CODE, BATCH_NO, TRUNK_NO, 
    BOX_NO, PACKAGE_NO, TICKETS, AMOUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cls.pilottery.model.WhGoodsIssueDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from WH_GOODS_ISSUE_DETAIL
    where SGI_NO = #{sgiNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cls.pilottery.model.WhGoodsIssueDetailKey" >
    delete from WH_GOODS_ISSUE_DETAIL
    where SGI_NO = #{sgiNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.WhGoodsIssueDetail" >
    insert into WH_GOODS_ISSUE_DETAIL (SGI_NO, SEQUENCE_NO, ISSUE_TYPE, 
      REF_NO, VALID_NUMBER, PLAN_CODE, 
      BATCH_NO, TRUNK_NO, BOX_NO, 
      PACKAGE_NO, TICKETS, AMOUNT
      )
    values (#{sgiNo,jdbcType=CHAR}, #{sequenceNo,jdbcType=DECIMAL}, #{issueType,jdbcType=DECIMAL}, 
      #{refNo,jdbcType=CHAR}, #{validNumber,jdbcType=DECIMAL}, #{planCode,jdbcType=VARCHAR}, 
      #{batchNo,jdbcType=VARCHAR}, #{trunkNo,jdbcType=VARCHAR}, #{boxNo,jdbcType=DECIMAL}, 
      #{packageNo,jdbcType=VARCHAR}, #{tickets,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.WhGoodsIssueDetail" >
    insert into WH_GOODS_ISSUE_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sgiNo != null" >
        SGI_NO,
      </if>
      <if test="sequenceNo != null" >
        SEQUENCE_NO,
      </if>
      <if test="issueType != null" >
        ISSUE_TYPE,
      </if>
      <if test="refNo != null" >
        REF_NO,
      </if>
      <if test="validNumber != null" >
        VALID_NUMBER,
      </if>
      <if test="planCode != null" >
        PLAN_CODE,
      </if>
      <if test="batchNo != null" >
        BATCH_NO,
      </if>
      <if test="trunkNo != null" >
        TRUNK_NO,
      </if>
      <if test="boxNo != null" >
        BOX_NO,
      </if>
      <if test="packageNo != null" >
        PACKAGE_NO,
      </if>
      <if test="tickets != null" >
        TICKETS,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sgiNo != null" >
        #{sgiNo,jdbcType=CHAR},
      </if>
      <if test="sequenceNo != null" >
        #{sequenceNo,jdbcType=DECIMAL},
      </if>
      <if test="issueType != null" >
        #{issueType,jdbcType=DECIMAL},
      </if>
      <if test="refNo != null" >
        #{refNo,jdbcType=CHAR},
      </if>
      <if test="validNumber != null" >
        #{validNumber,jdbcType=DECIMAL},
      </if>
      <if test="planCode != null" >
        #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="trunkNo != null" >
        #{trunkNo,jdbcType=VARCHAR},
      </if>
      <if test="boxNo != null" >
        #{boxNo,jdbcType=DECIMAL},
      </if>
      <if test="packageNo != null" >
        #{packageNo,jdbcType=VARCHAR},
      </if>
      <if test="tickets != null" >
        #{tickets,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.WhGoodsIssueDetail" >
    update WH_GOODS_ISSUE_DETAIL
    <set >
      <if test="issueType != null" >
        ISSUE_TYPE = #{issueType,jdbcType=DECIMAL},
      </if>
      <if test="refNo != null" >
        REF_NO = #{refNo,jdbcType=CHAR},
      </if>
      <if test="validNumber != null" >
        VALID_NUMBER = #{validNumber,jdbcType=DECIMAL},
      </if>
      <if test="planCode != null" >
        PLAN_CODE = #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="trunkNo != null" >
        TRUNK_NO = #{trunkNo,jdbcType=VARCHAR},
      </if>
      <if test="boxNo != null" >
        BOX_NO = #{boxNo,jdbcType=DECIMAL},
      </if>
      <if test="packageNo != null" >
        PACKAGE_NO = #{packageNo,jdbcType=VARCHAR},
      </if>
      <if test="tickets != null" >
        TICKETS = #{tickets,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
    </set>
    where SGI_NO = #{sgiNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.WhGoodsIssueDetail" >
    update WH_GOODS_ISSUE_DETAIL
    set ISSUE_TYPE = #{issueType,jdbcType=DECIMAL},
      REF_NO = #{refNo,jdbcType=CHAR},
      VALID_NUMBER = #{validNumber,jdbcType=DECIMAL},
      PLAN_CODE = #{planCode,jdbcType=VARCHAR},
      BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      TRUNK_NO = #{trunkNo,jdbcType=VARCHAR},
      BOX_NO = #{boxNo,jdbcType=DECIMAL},
      PACKAGE_NO = #{packageNo,jdbcType=VARCHAR},
      TICKETS = #{tickets,jdbcType=DECIMAL},
      AMOUNT = #{amount,jdbcType=DECIMAL}
    where SGI_NO = #{sgiNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </update>
</mapper>