#container{
	min-width: 1280px; 
 }

.header-nav-bg { background:#363a40; height:52px; }
.header-nav { background:#363a40; height:52px; }
.header-nav-menu { float:left;height:52px; }
.clear{
	clear:both;}
	
/* nav-menu */
#nav-menu {
	z-index:500;
	margin:0;
	padding:0;
	height:52px;
	list-style-type:none;
	list-style-image:none;
	line-height:52px;
	font-size:14px;
	
}
#nav-menu li.top-menu {
	display:block;
	float:left;
	height:52px;
	margin-right:5px;
}
#nav-menu li.top-menu1 {
	display:block;
	float:left;
	height:52px;
	background:#27a0d7;
	margin-right:5px;
}
#nav-menu li a.main-menu {
	padding:0 5px;
	line-height:52px;
	display:block;
	float:left;
	height:52px;
	cursor:pointer;
	font-weight:bold;
	text-decoration:none;
	color:#d2d4d4;
}
#nav-menu li a.main-menu span {
	margin-left:15px;
	margin-right:15px;

	display:block;
	text-align:center;
	float:left;
	height:29px;
	background:url(../img/sj-down.png) no-repeat right top;
	 
}
#nav-menu li a.main-menu span.normal {
	margin-left:15px;
	margin-right:15px;
	display:block;
	text-align:center;
	float:left;
	height:29px;
	background:none;
}
#nav-menu li a.main-menu span.down1 {
	margin-left:15px;
	margin-right:15px;
	display:block;
	text-align:center;
	float:left;
	height:29px;
	background:none;
	color:#fff;
}
#nav-menu li:hover a.main-menu span.down1 {
	margin-left:15px;
	margin-right:15px;
	display:block;
	text-align:center;
	float:left;
	height:29px;
	background:none;
	color:#fff;
}
#nav-menu li:hover a.main-menu span.normal  {
	margin-left:15px;
	margin-right:15px;
	display:block;
	text-align:center;
	float:left;
	height:29px;
	background:none;  
}

#nav-menu li:hover a.main-menu span  {
	margin-left:15px;
	margin-right:15px;
	
	display:block;
	text-align:center;
	float:left;
	height:29px;
	background:url(../img/sj-down-hover.png) no-repeat right top;    
}
#nav-menu li a.main-menu span.down {
	margin-left:15px;
	margin-right:15px;
	
	display: block;
	text-align:center;
	float:left;
	height:29px;
	color:#fff;
	background:url(../img/sj-down-hover.png) no-repeat  right top ;
    
}
#nav-menu li:hover a.main-menu { color:#fff; background:#27a0d7;}
#nav-menu li:hover a.main-menu span { color:#fff; }
#nav-menu li:hover a.main-menu span.down { color:#fff; }
#nav-menu li:hover {
	z-index:200;
	position:relative;
	color:#fff;
}
#nav-menu li:hover ul.sub-menu {
	z-index:270;
	height:auto;
	top:52px;
	left:0px;
	white-space:nowrap;
	background:f5f5f5;
	font-size:13px;	
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
-moz-box-shadow: 0px 2px 3px #909090;/*firefox*/
-webkit-box-shadow: 0px 2px 3px #909090;/*safari��chrome*/
box-shadow:0px 2px 3px #909090;/*opera��ie9*/
}
#nav-menu li:hover ul.sub-menu li {
	border-bottom:1px solid #fff;
	position:relative;
	display:block;
	text-align:center;
	height:35px;
	font-weight:normal;
	background:#f5f5f5;
	border-top:none;
	color:#27a0d7;
	
}
#nav-menu li:hover ul.sub-menu li a {
	border-bottom:1px solid #fff;
	line-height:35px;
	text-align:center;
	height:35px;
	color:#27a0d7;
	display:block;
	text-decoration:none;
}
#nav-menu li ul.sub-menu li a.fly-menu { background:#f5f5f5; }
#nav-menu li:hover ul.sub-menu li a:hover {
	background:#0e72a0;
	color:#fff;
}
#nav-menu li:hover ul.sub-menu li a.fly-menu:hover {
	background:#0e72a0;
	color:#fff;
	
}
#nav-menu li:hover li:hover ul {
	z-index:400;
	border-bottom:1px solid #fff;
	padding:0px;
	width:130px;
	white-space:nowrap;
	height:auto;
	top:0px;
	left:125px;
	background:#f5f5f5;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);/*ie*/
-moz-box-shadow: 0px 2px 3px #909090;/*firefox*/
-webkit-box-shadow:0px 2px 3px #909090;/*safari��chrome*/
box-shadow:0px 2px 3px #909090;/*opera��ie9*/
}
#nav-menu ul {
	position:absolute;
	padding:0px;
	list-style-type: none;
	list-style-image: none;
	margin:0px;
	width:0px;
	height:0px;
	top:-9999px;
	left:-9999px;
}
#nav-menu li:hover ul ul {
	position: absolute;
	padding:0px;
	margin:0px;
	list-style-type: none;
	list-style-image: none;
	width:0px;
	height:0px;
	top:-9999px;
	left:-9999px;
}
#nav-menu li:hover li:hover ul ul {
	position: absolute;
	padding:0px;
	margin:0px;
	list-style-type: none;
	list-style-image: none;
	width:0px;
	height:0px;
	top:-9999px;
	left:-9999px;
}
#nav-menu li:hover li:hover a.fly-menu {
	background:#0e72a0;
	color:#fff;
}
#nav-menu li:hover li:hover li a.fly-menu {
	background:#0e72a0;
	color:#fff;
}
#nav-menu li:hover li:hover li,#nav-menu li:hover li:hover li a{
	background:#f5f5f5;
	color:#27a0d7;
	width:130px;
}
#nav-menu li:hover li:hover li:hover,#nav-menu li:hover li:hover li:hover a {
	background:#0e72a0;
	color:#fff;
	width:130px;
}

#xxq{
	height:36px;
	line-height:36px;
	background:#fff;
	border-bottom:2px solid #363a40;
	padding:0 15px;
	clear:both;
	}
#xxq .xzi{
	color:#363a40;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	}
#xxq .xzi span{
	color:#f79222;
	font-weight:bold;
    margin-right:15px;}

/*#xxq .icon{
	float:right;
	margin-right:5px;
	margin-top:15px;
	}
#xxq img{
	margin-left:16px;
	}
#xxq a:hover img {
	background:url(img/filter.png) no-repeat right bottom;}
*/
#icon {width:145px; height:32px; background:transparent url(../img/icon.png) 0 0 no-repeat; overflow:hidden;  z-index:10; margin-top:-32px; }
#icon ul {margin:0; padding:0;}
#icon li {list-style-type:none; display:inline; width:47px; height:35px;}
#icon a {display:block; width:47px; padding-top:35px; height:0; color:#000; text-decoration:none; float:left; background:transparent url(../img/icon-hover.png) -80px -20px no-repeat; overflow:hidden;}
* html #icon a:link, * html #icon a:visited {height:35px; he\ight:0;}

#icon a:hover {background-position:top left;  z-index:35;}
* html #icon a:hover {height:35px; he\ight:0;}

#lbox {width:250px;}

#xxq .icons{
	float:right; }     
#xxq .shu1{
	position:relative;
	z-index:900;
	background:url(../img/icon-shu.png);
	width:14px;
	height:14px;
	line-height:14px;
	color:#fff;
	font-size:11px;
	text-align:center;
	top:-43px;
	left:23px;
	
	}
#xxq .shu2{
	position:relative;
	z-index:900;
	background:url(../img/icon-shu.png);
	width:14px;
	height:14px;
	line-height:14px;
	color:#fff;
	font-size:11px;
	text-align:center;
	top:-57px;
	left:70px;
	}
#xxq .shu3{
	position:relative;
	z-index:900;
	background:url(../img/icon-shu.png);
	width:14px;
	height:14px;
	line-height:14px;
	color:#fff;
	font-size:11px;
	text-align:center;
	top:-71px;
	left:118px;
	}
#title{
	height:51px;
	line-height:51px;
	background:#fafafa;
	font-size:24px;
	padding-left:15px;
	color:#2aa1d9;
	border-bottom:1px solid #e3e3e3;
	
}