body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "microsoft yahei";
	font-size: 14px;
}
#tabbox {
	width: auto;
	overflow: hidden;
	margin: 0 auto;
}
.tab_conbox {
	border-top: none;
}
.tab_con {
	display: none;
}
.tabs {
	width: 100%;
	background: #f9f6f6;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #dadada;
}
.tabs li {
	float: left;
	display: block;
	cursor: pointer;
	width: 120px;
	text-align: center;
	color: #000;
	
	line-height:30px;
}
.tabs li a {
	display: block;
	cursor: pointer;
	width: 120px;
	text-align: center;
	color: #000;
	
	text-decoration:none;
}
.tabs li :hover {
	padding: 0px;
	border-bottom: 2px #40a7da solid;
	color: #40a7da;
	
	
}
.tabs .thistab, .tabs .thistab a:hover {
	border-bottom: 2px #40a7da solid;
}
.tab_con {
	padding: 12px;
	font-size: 14px;
	
}
.ms{
	margin-bottom:10px;}
.cl-r{
	color:#f44e47;}
.cl-h{
	color:#ccc;}