<ul class="nav" id="side-menu" style="display: block;">
	<li class="nav-header">
		<div class="dropdown profile-element">
			<span><img alt="image" src="/cncp_web/img/LOGO.png"></span>
		</div>
		<div class="logo-element">
			<img alt="image" src="/cncp_web/img/logo-small.png">
		</div>
	</li>

	<li><a href="#" target="iframe0"><i class="fa fa-ship"></i><span
			class="nav-label">渠道管理</span><span class="fa arrow"></span></a>
	<ul class="nav nav-second-level collapse">
			<li><a class="J_menuItem" href="dealer.do?method=initDealerList"
				target="iframe0">渠道账户</a></li>
		</ul></li>
	<li><a href="#" target="iframe0"><i
			class="fa fa-shopping-cart"></i><span class="nav-label">订单管理</span><span
			class="fa arrow"></span></a>
	<ul class="nav nav-second-level collapse">
			<li><a class="J_menuItem"
				href="order.do?method=initDealerOrderList" target="iframe0">订单列表</a></li>
			<li><a class="J_menuItem" href="win.do?method=initWinList"
				target="iframe0">中奖列表</a></li>
		</ul></li>
	<li><a href="#" target="iframe0"><i class="fa fa-dollar"></i><span
			class="nav-label">资金管理</span><span class="fa arrow"></span></a>
	<ul class="nav nav-second-level collapse">
			<li><a class="J_menuItem"
				href="capital.do?method=initQueryFundTransaction" target="iframe0">交易查询</a></li>
			<li><a class="J_menuItem" href="capital.do?method=initTopUpList"
				target="iframe0">充值</a></li>
			<li><a class="J_menuItem"
				href="withdraw.do?method=initWithdrawList" target="iframe0">提现</a></li>
			<li><a class="J_menuItem"
				href="adjustment.do?method=initAdjustmentList" target="iframe0">调账</a></li>
		</ul></li>
	<li><a href="#" target="iframe0"><i class="fa fa-bar-chart"></i><span
			class="nav-label">报表</span><span class="fa arrow"></span></a>
	<ul class="nav nav-second-level collapse">
			<li><a class="J_menuItem" href="" target="iframe0">日结报表</a></li>
			<li><a class="J_menuItem" href="" target="iframe0">月结报表</a></li>
			<li><a class="J_menuItem" href="" target="iframe0">渠道商期次报表</a></li>
			<li><a class="J_menuItem" href="" target="iframe0">期次销售报表</a></li>
		</ul></li>
	<li><a href="#" target="iframe0"><i class="fa fa-leaf"></i><span
			class="nav-label">示例</span><span class="fa arrow"></span></a>
	<ul class="nav nav-second-level collapse">
			<li><a class="J_menuItem" href="demo.do?method=initUserList"
				target="iframe0">增删改查示例</a></li>
			<li><a class="J_menuItem" href="demo.do?method=initUserList2"
				target="iframe0">分页示例</a></li>
		</ul></li>
</ul>