
#pageDiv {
    padding-right:20px;
    padding-left:3px;
    font-size:14px;
    padding-bottom:3px;
    color:#2aa1d9;
    padding-top:3px;
    text-align:right;
    background-color:#fff;
    height:60px;
    line-height:60px;
}

#pageDiv .current {
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #fff;
    margin-right: 3px;
    padding-TOP: 5px;
    background-color: #2aa1d9;
}

#pageDiv a {
    padding-right: 10px;
    background-position: 50% bottom;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #2aa1d9;
    margin-right: 3px;
    padding-top: 5px;
    text-decoration: none;
}

#pageDiv a:hover {
    background-image:none;
    color:#fff;
    background-color:#363a40
}

#pageDiv a:active {
    color:#fff;
    background-color:#0e72a0
}

#pageDiv #result {
    color: #c7c6c6;
    left: 40%;
    margin-right:50px;
}

#pageDiv #go {
    cursor:hand;
    margin-left:3px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;

}

#pageDiv #go:hover {
    color:#fff;
    background-color:#363a40
}

#pageDiv #go:active{

}
