<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.AgencysMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.Agencys" >
    <id column="AGENCY_CODE" property="agencyCode" jdbcType="CHAR" />
    <result column="AGENCY_NAME" property="agencyName" jdbcType="VARCHAR" />
    <result column="STORETYPE_ID" property="storetypeId" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="AGENCY_TYPE" property="agencyType" jdbcType="DECIMAL" />
    <result column="BANK_ID" property="bankId" jdbcType="DECIMAL" />
    <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="CONTACT_PERSON" property="contactPerson" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="AGENCY_ADD_TIME" property="agencyAddTime" jdbcType="TIMESTAMP" />
    <result column="QUIT_TIME" property="quitTime" jdbcType="TIMESTAMP" />
    <result column="ORG_CODE" property="orgCode" jdbcType="CHAR" />
    <result column="AREA_CODE" property="areaCode" jdbcType="CHAR" />
    <result column="LOGIN_PASS" property="loginPass" jdbcType="VARCHAR" />
    <result column="TRADE_PASS" property="tradePass" jdbcType="VARCHAR" />
    <result column="MARKET_MANAGER_ID" property="marketManagerId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    AGENCY_CODE, AGENCY_NAME, STORETYPE_ID, STATUS, AGENCY_TYPE, BANK_ID, BANK_ACCOUNT, 
    TELEPHONE, CONTACT_PERSON, ADDRESS, AGENCY_ADD_TIME, QUIT_TIME, ORG_CODE, AREA_CODE, 
    LOGIN_PASS, TRADE_PASS, MARKET_MANAGER_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from INF_AGENCYS
    where AGENCY_CODE = #{agencyCode,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from INF_AGENCYS
    where AGENCY_CODE = #{agencyCode,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.Agencys" >
    insert into INF_AGENCYS (AGENCY_CODE, AGENCY_NAME, STORETYPE_ID, 
      STATUS, AGENCY_TYPE, BANK_ID, 
      BANK_ACCOUNT, TELEPHONE, CONTACT_PERSON, 
      ADDRESS, AGENCY_ADD_TIME, QUIT_TIME, 
      ORG_CODE, AREA_CODE, LOGIN_PASS, 
      TRADE_PASS, MARKET_MANAGER_ID)
    values (#{agencyCode,jdbcType=CHAR}, #{agencyName,jdbcType=VARCHAR}, #{storetypeId,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{agencyType,jdbcType=DECIMAL}, #{bankId,jdbcType=DECIMAL}, 
      #{bankAccount,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{contactPerson,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{agencyAddTime,jdbcType=TIMESTAMP}, #{quitTime,jdbcType=TIMESTAMP}, 
      #{orgCode,jdbcType=CHAR}, #{areaCode,jdbcType=CHAR}, #{loginPass,jdbcType=VARCHAR}, 
      #{tradePass,jdbcType=VARCHAR}, #{marketManagerId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.Agencys" >
    insert into INF_AGENCYS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agencyCode != null" >
        AGENCY_CODE,
      </if>
      <if test="agencyName != null" >
        AGENCY_NAME,
      </if>
      <if test="storetypeId != null" >
        STORETYPE_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="agencyType != null" >
        AGENCY_TYPE,
      </if>
      <if test="bankId != null" >
        BANK_ID,
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="contactPerson != null" >
        CONTACT_PERSON,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="agencyAddTime != null" >
        AGENCY_ADD_TIME,
      </if>
      <if test="quitTime != null" >
        QUIT_TIME,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="areaCode != null" >
        AREA_CODE,
      </if>
      <if test="loginPass != null" >
        LOGIN_PASS,
      </if>
      <if test="tradePass != null" >
        TRADE_PASS,
      </if>
      <if test="marketManagerId != null" >
        MARKET_MANAGER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agencyCode != null" >
        #{agencyCode,jdbcType=CHAR},
      </if>
      <if test="agencyName != null" >
        #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="storetypeId != null" >
        #{storetypeId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="agencyType != null" >
        #{agencyType,jdbcType=DECIMAL},
      </if>
      <if test="bankId != null" >
        #{bankId,jdbcType=DECIMAL},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="agencyAddTime != null" >
        #{agencyAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quitTime != null" >
        #{quitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=CHAR},
      </if>
      <if test="loginPass != null" >
        #{loginPass,jdbcType=VARCHAR},
      </if>
      <if test="tradePass != null" >
        #{tradePass,jdbcType=VARCHAR},
      </if>
      <if test="marketManagerId != null" >
        #{marketManagerId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.Agencys" >
    update INF_AGENCYS
    <set >
      <if test="agencyName != null" >
        AGENCY_NAME = #{agencyName,jdbcType=VARCHAR},
      </if>
      <if test="storetypeId != null" >
        STORETYPE_ID = #{storetypeId,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="agencyType != null" >
        AGENCY_TYPE = #{agencyType,jdbcType=DECIMAL},
      </if>
      <if test="bankId != null" >
        BANK_ID = #{bankId,jdbcType=DECIMAL},
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null" >
        CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="agencyAddTime != null" >
        AGENCY_ADD_TIME = #{agencyAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quitTime != null" >
        QUIT_TIME = #{quitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=CHAR},
      </if>
      <if test="areaCode != null" >
        AREA_CODE = #{areaCode,jdbcType=CHAR},
      </if>
      <if test="loginPass != null" >
        LOGIN_PASS = #{loginPass,jdbcType=VARCHAR},
      </if>
      <if test="tradePass != null" >
        TRADE_PASS = #{tradePass,jdbcType=VARCHAR},
      </if>
      <if test="marketManagerId != null" >
        MARKET_MANAGER_ID = #{marketManagerId,jdbcType=DECIMAL},
      </if>
    </set>
    where AGENCY_CODE = #{agencyCode,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.Agencys" >
    update INF_AGENCYS
    set AGENCY_NAME = #{agencyName,jdbcType=VARCHAR},
      STORETYPE_ID = #{storetypeId,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      AGENCY_TYPE = #{agencyType,jdbcType=DECIMAL},
      BANK_ID = #{bankId,jdbcType=DECIMAL},
      BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      CONTACT_PERSON = #{contactPerson,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      AGENCY_ADD_TIME = #{agencyAddTime,jdbcType=TIMESTAMP},
      QUIT_TIME = #{quitTime,jdbcType=TIMESTAMP},
      ORG_CODE = #{orgCode,jdbcType=CHAR},
      AREA_CODE = #{areaCode,jdbcType=CHAR},
      LOGIN_PASS = #{loginPass,jdbcType=VARCHAR},
      TRADE_PASS = #{tradePass,jdbcType=VARCHAR},
      MARKET_MANAGER_ID = #{marketManagerId,jdbcType=DECIMAL}
    where AGENCY_CODE = #{agencyCode,jdbcType=CHAR}
  </update>
</mapper>