<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.DeliveryOrderMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.DeliveryOrder" >
    <id column="DO_NO" property="doNo" jdbcType="CHAR" />
    <result column="APPLY_ADMIN" property="applyAdmin" jdbcType="DECIMAL" />
    <result column="APPLY_DATE" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="WH_CODE" property="whCode" jdbcType="CHAR" />
    <result column="ORG" property="org" jdbcType="CHAR" />
    <result column="MANAGER_ADMIN" property="managerAdmin" jdbcType="DECIMAL" />
    <result column="OUT_DATE" property="outDate" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="TOTAL_QUANTITY" property="totalQuantity" jdbcType="DECIMAL" />
    <result column="TOTAL_VALUE" property="totalValue" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    DO_NO, APPLY_ADMIN, APPLY_DATE, WH_CODE, ORG, MANAGER_ADMIN, OUT_DATE, STATUS, TOTAL_QUANTITY, 
    TOTAL_VALUE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SALE_DELIVERY_ORDER
    where DO_NO = #{doNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SALE_DELIVERY_ORDER
    where DO_NO = #{doNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.DeliveryOrder" >
    insert into SALE_DELIVERY_ORDER (DO_NO, APPLY_ADMIN, APPLY_DATE, 
      WH_CODE, ORG, MANAGER_ADMIN, 
      OUT_DATE, STATUS, TOTAL_QUANTITY, 
      TOTAL_VALUE)
    values (#{doNo,jdbcType=CHAR}, #{applyAdmin,jdbcType=DECIMAL}, #{applyDate,jdbcType=TIMESTAMP}, 
      #{whCode,jdbcType=CHAR}, #{org,jdbcType=CHAR}, #{managerAdmin,jdbcType=DECIMAL}, 
      #{outDate,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL}, #{totalQuantity,jdbcType=DECIMAL}, 
      #{totalValue,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.DeliveryOrder" >
    insert into SALE_DELIVERY_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="doNo != null" >
        DO_NO,
      </if>
      <if test="applyAdmin != null" >
        APPLY_ADMIN,
      </if>
      <if test="applyDate != null" >
        APPLY_DATE,
      </if>
      <if test="whCode != null" >
        WH_CODE,
      </if>
      <if test="org != null" >
        ORG,
      </if>
      <if test="managerAdmin != null" >
        MANAGER_ADMIN,
      </if>
      <if test="outDate != null" >
        OUT_DATE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="totalQuantity != null" >
        TOTAL_QUANTITY,
      </if>
      <if test="totalValue != null" >
        TOTAL_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="doNo != null" >
        #{doNo,jdbcType=CHAR},
      </if>
      <if test="applyAdmin != null" >
        #{applyAdmin,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="whCode != null" >
        #{whCode,jdbcType=CHAR},
      </if>
      <if test="org != null" >
        #{org,jdbcType=CHAR},
      </if>
      <if test="managerAdmin != null" >
        #{managerAdmin,jdbcType=DECIMAL},
      </if>
      <if test="outDate != null" >
        #{outDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="totalQuantity != null" >
        #{totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="totalValue != null" >
        #{totalValue,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.DeliveryOrder" >
    update SALE_DELIVERY_ORDER
    <set >
      <if test="applyAdmin != null" >
        APPLY_ADMIN = #{applyAdmin,jdbcType=DECIMAL},
      </if>
      <if test="applyDate != null" >
        APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="whCode != null" >
        WH_CODE = #{whCode,jdbcType=CHAR},
      </if>
      <if test="org != null" >
        ORG = #{org,jdbcType=CHAR},
      </if>
      <if test="managerAdmin != null" >
        MANAGER_ADMIN = #{managerAdmin,jdbcType=DECIMAL},
      </if>
      <if test="outDate != null" >
        OUT_DATE = #{outDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="totalQuantity != null" >
        TOTAL_QUANTITY = #{totalQuantity,jdbcType=DECIMAL},
      </if>
      <if test="totalValue != null" >
        TOTAL_VALUE = #{totalValue,jdbcType=DECIMAL},
      </if>
    </set>
    where DO_NO = #{doNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.DeliveryOrder" >
    update SALE_DELIVERY_ORDER
    set APPLY_ADMIN = #{applyAdmin,jdbcType=DECIMAL},
      APPLY_DATE = #{applyDate,jdbcType=TIMESTAMP},
      WH_CODE = #{whCode,jdbcType=CHAR},
      ORG = #{org,jdbcType=CHAR},
      MANAGER_ADMIN = #{managerAdmin,jdbcType=DECIMAL},
      OUT_DATE = #{outDate,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL},
      TOTAL_QUANTITY = #{totalQuantity,jdbcType=DECIMAL},
      TOTAL_VALUE = #{totalValue,jdbcType=DECIMAL}
    where DO_NO = #{doNo,jdbcType=CHAR}
  </update>
</mapper>