<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.FlowGuiPayMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.FlowGuiPay" >
    <id column="GUI_PAY_NO" property="guiPayNo" jdbcType="CHAR" />
    <result column="WINNERNAME" property="winnername" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="DECIMAL" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="DECIMAL" />
    <result column="CERT_NO" property="certNo" jdbcType="VARCHAR" />
    <result column="PAY_AMOUNT" property="payAmount" jdbcType="DECIMAL" />
    <result column="REWARD_LEVEL" property="rewardLevel" jdbcType="DECIMAL" />
    <result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
    <result column="PAYER_ADMIN" property="payerAdmin" jdbcType="DECIMAL" />
    <result column="PAYER_NAME" property="payerName" jdbcType="VARCHAR" />
    <result column="PLAN_CODE" property="planCode" jdbcType="VARCHAR" />
    <result column="BATCH_NO" property="batchNo" jdbcType="VARCHAR" />
    <result column="TRUNK_NO" property="trunkNo" jdbcType="VARCHAR" />
    <result column="BOX_NO" property="boxNo" jdbcType="DECIMAL" />
    <result column="PACKAGE_NO" property="packageNo" jdbcType="VARCHAR" />
    <result column="TICKET_NO" property="ticketNo" jdbcType="DECIMAL" />
    <result column="SECURITY_CODE" property="securityCode" jdbcType="VARCHAR" />
    <result column="IDENTITY_CODE" property="identityCode" jdbcType="VARCHAR" />
    <result column="IS_MANUAL" property="isManual" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    GUI_PAY_NO, WINNERNAME, GENDER, CONTACT, AGE, CERT_NO, PAY_AMOUNT, REWARD_LEVEL, 
    PAY_TIME, PAYER_ADMIN, PAYER_NAME, PLAN_CODE, BATCH_NO, TRUNK_NO, BOX_NO, PACKAGE_NO, 
    TICKET_NO, SECURITY_CODE, IDENTITY_CODE, IS_MANUAL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from FLOW_GUI_PAY
    where GUI_PAY_NO = #{guiPayNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from FLOW_GUI_PAY
    where GUI_PAY_NO = #{guiPayNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.FlowGuiPay" >
    insert into FLOW_GUI_PAY (GUI_PAY_NO, WINNERNAME, GENDER, 
      CONTACT, AGE, CERT_NO, 
      PAY_AMOUNT, REWARD_LEVEL, PAY_TIME, 
      PAYER_ADMIN, PAYER_NAME, PLAN_CODE, 
      BATCH_NO, TRUNK_NO, BOX_NO, 
      PACKAGE_NO, TICKET_NO, SECURITY_CODE, 
      IDENTITY_CODE, IS_MANUAL)
    values (#{guiPayNo,jdbcType=CHAR}, #{winnername,jdbcType=VARCHAR}, #{gender,jdbcType=DECIMAL}, 
      #{contact,jdbcType=VARCHAR}, #{age,jdbcType=DECIMAL}, #{certNo,jdbcType=VARCHAR}, 
      #{payAmount,jdbcType=DECIMAL}, #{rewardLevel,jdbcType=DECIMAL}, #{payTime,jdbcType=TIMESTAMP}, 
      #{payerAdmin,jdbcType=DECIMAL}, #{payerName,jdbcType=VARCHAR}, #{planCode,jdbcType=VARCHAR}, 
      #{batchNo,jdbcType=VARCHAR}, #{trunkNo,jdbcType=VARCHAR}, #{boxNo,jdbcType=DECIMAL}, 
      #{packageNo,jdbcType=VARCHAR}, #{ticketNo,jdbcType=DECIMAL}, #{securityCode,jdbcType=VARCHAR}, 
      #{identityCode,jdbcType=VARCHAR}, #{isManual,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.FlowGuiPay" >
    insert into FLOW_GUI_PAY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guiPayNo != null" >
        GUI_PAY_NO,
      </if>
      <if test="winnername != null" >
        WINNERNAME,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="certNo != null" >
        CERT_NO,
      </if>
      <if test="payAmount != null" >
        PAY_AMOUNT,
      </if>
      <if test="rewardLevel != null" >
        REWARD_LEVEL,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
      <if test="payerAdmin != null" >
        PAYER_ADMIN,
      </if>
      <if test="payerName != null" >
        PAYER_NAME,
      </if>
      <if test="planCode != null" >
        PLAN_CODE,
      </if>
      <if test="batchNo != null" >
        BATCH_NO,
      </if>
      <if test="trunkNo != null" >
        TRUNK_NO,
      </if>
      <if test="boxNo != null" >
        BOX_NO,
      </if>
      <if test="packageNo != null" >
        PACKAGE_NO,
      </if>
      <if test="ticketNo != null" >
        TICKET_NO,
      </if>
      <if test="securityCode != null" >
        SECURITY_CODE,
      </if>
      <if test="identityCode != null" >
        IDENTITY_CODE,
      </if>
      <if test="isManual != null" >
        IS_MANUAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guiPayNo != null" >
        #{guiPayNo,jdbcType=CHAR},
      </if>
      <if test="winnername != null" >
        #{winnername,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=DECIMAL},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="certNo != null" >
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="rewardLevel != null" >
        #{rewardLevel,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payerAdmin != null" >
        #{payerAdmin,jdbcType=DECIMAL},
      </if>
      <if test="payerName != null" >
        #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="planCode != null" >
        #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="trunkNo != null" >
        #{trunkNo,jdbcType=VARCHAR},
      </if>
      <if test="boxNo != null" >
        #{boxNo,jdbcType=DECIMAL},
      </if>
      <if test="packageNo != null" >
        #{packageNo,jdbcType=VARCHAR},
      </if>
      <if test="ticketNo != null" >
        #{ticketNo,jdbcType=DECIMAL},
      </if>
      <if test="securityCode != null" >
        #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="identityCode != null" >
        #{identityCode,jdbcType=VARCHAR},
      </if>
      <if test="isManual != null" >
        #{isManual,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.FlowGuiPay" >
    update FLOW_GUI_PAY
    <set >
      <if test="winnername != null" >
        WINNERNAME = #{winnername,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=DECIMAL},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=DECIMAL},
      </if>
      <if test="certNo != null" >
        CERT_NO = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null" >
        PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="rewardLevel != null" >
        REWARD_LEVEL = #{rewardLevel,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payerAdmin != null" >
        PAYER_ADMIN = #{payerAdmin,jdbcType=DECIMAL},
      </if>
      <if test="payerName != null" >
        PAYER_NAME = #{payerName,jdbcType=VARCHAR},
      </if>
      <if test="planCode != null" >
        PLAN_CODE = #{planCode,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null" >
        BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="trunkNo != null" >
        TRUNK_NO = #{trunkNo,jdbcType=VARCHAR},
      </if>
      <if test="boxNo != null" >
        BOX_NO = #{boxNo,jdbcType=DECIMAL},
      </if>
      <if test="packageNo != null" >
        PACKAGE_NO = #{packageNo,jdbcType=VARCHAR},
      </if>
      <if test="ticketNo != null" >
        TICKET_NO = #{ticketNo,jdbcType=DECIMAL},
      </if>
      <if test="securityCode != null" >
        SECURITY_CODE = #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="identityCode != null" >
        IDENTITY_CODE = #{identityCode,jdbcType=VARCHAR},
      </if>
      <if test="isManual != null" >
        IS_MANUAL = #{isManual,jdbcType=DECIMAL},
      </if>
    </set>
    where GUI_PAY_NO = #{guiPayNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.FlowGuiPay" >
    update FLOW_GUI_PAY
    set WINNERNAME = #{winnername,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=DECIMAL},
      CONTACT = #{contact,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=DECIMAL},
      CERT_NO = #{certNo,jdbcType=VARCHAR},
      PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      REWARD_LEVEL = #{rewardLevel,jdbcType=DECIMAL},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      PAYER_ADMIN = #{payerAdmin,jdbcType=DECIMAL},
      PAYER_NAME = #{payerName,jdbcType=VARCHAR},
      PLAN_CODE = #{planCode,jdbcType=VARCHAR},
      BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      TRUNK_NO = #{trunkNo,jdbcType=VARCHAR},
      BOX_NO = #{boxNo,jdbcType=DECIMAL},
      PACKAGE_NO = #{packageNo,jdbcType=VARCHAR},
      TICKET_NO = #{ticketNo,jdbcType=DECIMAL},
      SECURITY_CODE = #{securityCode,jdbcType=VARCHAR},
      IDENTITY_CODE = #{identityCode,jdbcType=VARCHAR},
      IS_MANUAL = #{isManual,jdbcType=DECIMAL}
    where GUI_PAY_NO = #{guiPayNo,jdbcType=CHAR}
  </update>
</mapper>