<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.ItemCheckDetailAfterMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.ItemCheckDetailAfter" >
    <id column="CHECK_NO" property="checkNo" jdbcType="CHAR" />
    <id column="SEQUENCE_NO" property="sequenceNo" jdbcType="DECIMAL" />
    <result column="ITEM_CODE" property="itemCode" jdbcType="CHAR" />
    <result column="QUANTITY" property="quantity" jdbcType="DECIMAL" />
    <result column="CHANGE_QUANTITY" property="changeQuantity" jdbcType="DECIMAL" />
    <result column="RESULT" property="result" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CHECK_NO, SEQUENCE_NO, ITEM_CODE, QUANTITY, CHANGE_QUANTITY, RESULT, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cls.pilottery.model.ItemCheckDetailAfterKey" >
    select 
    <include refid="Base_Column_List" />
    from ITEM_CHECK_DETAIL_AF
    where CHECK_NO = #{checkNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cls.pilottery.model.ItemCheckDetailAfterKey" >
    delete from ITEM_CHECK_DETAIL_AF
    where CHECK_NO = #{checkNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.ItemCheckDetailAfter" >
    insert into ITEM_CHECK_DETAIL_AF (CHECK_NO, SEQUENCE_NO, ITEM_CODE, 
      QUANTITY, CHANGE_QUANTITY, RESULT, 
      REMARK)
    values (#{checkNo,jdbcType=CHAR}, #{sequenceNo,jdbcType=DECIMAL}, #{itemCode,jdbcType=CHAR}, 
      #{quantity,jdbcType=DECIMAL}, #{changeQuantity,jdbcType=DECIMAL}, #{result,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.ItemCheckDetailAfter" >
    insert into ITEM_CHECK_DETAIL_AF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkNo != null" >
        CHECK_NO,
      </if>
      <if test="sequenceNo != null" >
        SEQUENCE_NO,
      </if>
      <if test="itemCode != null" >
        ITEM_CODE,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="changeQuantity != null" >
        CHANGE_QUANTITY,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkNo != null" >
        #{checkNo,jdbcType=CHAR},
      </if>
      <if test="sequenceNo != null" >
        #{sequenceNo,jdbcType=DECIMAL},
      </if>
      <if test="itemCode != null" >
        #{itemCode,jdbcType=CHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="changeQuantity != null" >
        #{changeQuantity,jdbcType=DECIMAL},
      </if>
      <if test="result != null" >
        #{result,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.ItemCheckDetailAfter" >
    update ITEM_CHECK_DETAIL_AF
    <set >
      <if test="itemCode != null" >
        ITEM_CODE = #{itemCode,jdbcType=CHAR},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity,jdbcType=DECIMAL},
      </if>
      <if test="changeQuantity != null" >
        CHANGE_QUANTITY = #{changeQuantity,jdbcType=DECIMAL},
      </if>
      <if test="result != null" >
        RESULT = #{result,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where CHECK_NO = #{checkNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.ItemCheckDetailAfter" >
    update ITEM_CHECK_DETAIL_AF
    set ITEM_CODE = #{itemCode,jdbcType=CHAR},
      QUANTITY = #{quantity,jdbcType=DECIMAL},
      CHANGE_QUANTITY = #{changeQuantity,jdbcType=DECIMAL},
      RESULT = #{result,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR}
    where CHECK_NO = #{checkNo,jdbcType=CHAR}
      and SEQUENCE_NO = #{sequenceNo,jdbcType=DECIMAL}
  </update>
</mapper>