<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cls.pilottery.dao.OrgAccountMapper" >
  <resultMap id="BaseResultMap" type="cls.pilottery.model.OrgAccount" >
    <id column="ACC_NO" property="accNo" jdbcType="CHAR" />
    <result column="ORG_CODE" property="orgCode" jdbcType="CHAR" />
    <result column="ACC_TYPE" property="accType" jdbcType="DECIMAL" />
    <result column="ACC_NAME" property="accName" jdbcType="VARCHAR" />
    <result column="ACC_STATUS" property="accStatus" jdbcType="DECIMAL" />
    <result column="CREDIT_LIMIT" property="creditLimit" jdbcType="DECIMAL" />
    <result column="ACCOUNT_BALANCE" property="accountBalance" jdbcType="DECIMAL" />
    <result column="FROZEN_BALANCE" property="frozenBalance" jdbcType="DECIMAL" />
    <result column="CHECK_CODE" property="checkCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ACC_NO, ORG_CODE, ACC_TYPE, ACC_NAME, ACC_STATUS, CREDIT_LIMIT, ACCOUNT_BALANCE, 
    FROZEN_BALANCE, CHECK_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ACC_ORG_ACCOUNT
    where ACC_NO = #{accNo,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ACC_ORG_ACCOUNT
    where ACC_NO = #{accNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cls.pilottery.model.OrgAccount" >
    insert into ACC_ORG_ACCOUNT (ACC_NO, ORG_CODE, ACC_TYPE, 
      ACC_NAME, ACC_STATUS, CREDIT_LIMIT, 
      ACCOUNT_BALANCE, FROZEN_BALANCE, CHECK_CODE
      )
    values (#{accNo,jdbcType=CHAR}, #{orgCode,jdbcType=CHAR}, #{accType,jdbcType=DECIMAL}, 
      #{accName,jdbcType=VARCHAR}, #{accStatus,jdbcType=DECIMAL}, #{creditLimit,jdbcType=DECIMAL}, 
      #{accountBalance,jdbcType=DECIMAL}, #{frozenBalance,jdbcType=DECIMAL}, #{checkCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cls.pilottery.model.OrgAccount" >
    insert into ACC_ORG_ACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accNo != null" >
        ACC_NO,
      </if>
      <if test="orgCode != null" >
        ORG_CODE,
      </if>
      <if test="accType != null" >
        ACC_TYPE,
      </if>
      <if test="accName != null" >
        ACC_NAME,
      </if>
      <if test="accStatus != null" >
        ACC_STATUS,
      </if>
      <if test="creditLimit != null" >
        CREDIT_LIMIT,
      </if>
      <if test="accountBalance != null" >
        ACCOUNT_BALANCE,
      </if>
      <if test="frozenBalance != null" >
        FROZEN_BALANCE,
      </if>
      <if test="checkCode != null" >
        CHECK_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accNo != null" >
        #{accNo,jdbcType=CHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=CHAR},
      </if>
      <if test="accType != null" >
        #{accType,jdbcType=DECIMAL},
      </if>
      <if test="accName != null" >
        #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accStatus != null" >
        #{accStatus,jdbcType=DECIMAL},
      </if>
      <if test="creditLimit != null" >
        #{creditLimit,jdbcType=DECIMAL},
      </if>
      <if test="accountBalance != null" >
        #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="frozenBalance != null" >
        #{frozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="checkCode != null" >
        #{checkCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cls.pilottery.model.OrgAccount" >
    update ACC_ORG_ACCOUNT
    <set >
      <if test="orgCode != null" >
        ORG_CODE = #{orgCode,jdbcType=CHAR},
      </if>
      <if test="accType != null" >
        ACC_TYPE = #{accType,jdbcType=DECIMAL},
      </if>
      <if test="accName != null" >
        ACC_NAME = #{accName,jdbcType=VARCHAR},
      </if>
      <if test="accStatus != null" >
        ACC_STATUS = #{accStatus,jdbcType=DECIMAL},
      </if>
      <if test="creditLimit != null" >
        CREDIT_LIMIT = #{creditLimit,jdbcType=DECIMAL},
      </if>
      <if test="accountBalance != null" >
        ACCOUNT_BALANCE = #{accountBalance,jdbcType=DECIMAL},
      </if>
      <if test="frozenBalance != null" >
        FROZEN_BALANCE = #{frozenBalance,jdbcType=DECIMAL},
      </if>
      <if test="checkCode != null" >
        CHECK_CODE = #{checkCode,jdbcType=VARCHAR},
      </if>
    </set>
    where ACC_NO = #{accNo,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cls.pilottery.model.OrgAccount" >
    update ACC_ORG_ACCOUNT
    set ORG_CODE = #{orgCode,jdbcType=CHAR},
      ACC_TYPE = #{accType,jdbcType=DECIMAL},
      ACC_NAME = #{accName,jdbcType=VARCHAR},
      ACC_STATUS = #{accStatus,jdbcType=DECIMAL},
      CREDIT_LIMIT = #{creditLimit,jdbcType=DECIMAL},
      ACCOUNT_BALANCE = #{accountBalance,jdbcType=DECIMAL},
      FROZEN_BALANCE = #{frozenBalance,jdbcType=DECIMAL},
      CHECK_CODE = #{checkCode,jdbcType=VARCHAR}
    where ACC_NO = #{accNo,jdbcType=CHAR}
  </update>
</mapper>