<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="stylesheet" href="myJsBox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="myJsBox.js"></script>
    <title></title>

    <style type="text/css">

    </style>
    <script type="text/javascript">

        function show_box(){
            showBox("b.html","详情页面",500,500);
            return false;
        }

    </script>

    </head>
  
    <body>
    <div id="div1" style="height:100%;background-color:lightgreen;margin:0 0 0 0;">
        
        <input type="button" value="showBox" onclick="show_box()"/>
        <input type="button" value="showPage" onclick="showPage('','大窗口')"/>
        <input type="button" value="showDialog" onclick="showDialog('','删除好友','你确定要删除好友吗要删除好友吗要删除好友吗要删除好友吗要删除好友吗要删除好友吗')"/>
        <input type="button" value="showRight" onclick="showRight()"/>
        <input type="button" value="showWarn" onclick="showWarn('你确定要删除好友吗你确定要删除好友吗你确定要删除好友吗')"/>
        <input type="button" value="showError" onclick="showError()"/>
    </div>
    </body>
  

</html>
