

#fullbg {
    background-color:gray;
    left:0;
    opacity:0.5;
    position:fixed;
    top:0;
    z-index:3;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    height:100%;
    width:100%;
}

#dialog {
    background-color:#fff;
    border:0px solid;
    /**padding:1px;**/
    position:fixed !important;
    /* ¸¡¶¯¶Ô»°¿ò */ 
    position:absolute;
    z-index:5;
    display:none;
    
    font-family: "microsoft yahei", "Î¢ÈíÑÅºÚ";
    box-shadow: 0px 3px 5px #999;
    border-radius:2px;
}
#dialog .title {
    color:#fff;
    padding-right:10px;
    padding-left:10px;
    margin:0 0 12px;
    height:36px;
    line-height:36px;
    background:#363a40;
    cursor: pointer;
    font-size: 15px;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
/**
#dialog .title a {
    float: right;
    color:#fff;
    text-decoration:none;
} **/
#dialog .container {
    position:absolute;
    top:36px;
    bottom:0px;
    left:0px;
    width:100%;

    border-radius:2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/**** new css ***/
#dialog  .fotter {
    border:1px solid #eaedf1;
    background-color:#f9fafc;

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#dialog  #ifdialog {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  background-color:#fff;
}


.title  .close {
    width: 22px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 101;
}
.title  .close a {
    display: block;
    overflow: hidden;
    width: 22px;
    height: 20px;
    background: url(img/tck-close.png) no-repeat top right;
}
.title .close a:hover {
    background-position: 0px -20px;
}

#dialog .container .wait {
    height:120px;
    width:120px;
    background:url(img/wait.gif) no-repeat center;
}

/** ´ó´°¿ÚÑùÊ½**/
#dialog .big-title {
    background: #e4e5e5;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #b2b2b2;
    padding: 0 20px;
    font-size: 14px;

}

#dialog .big-container {
    position:absolute;
    top:50px;
    bottom:0px;
    left:0px;
    width:100%;
}

.big-title  .close {
    width: 22px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 101;
}
.big-title  .close a {
    display: block;
    overflow: hidden;
    width: 22px;
    height: 20px;
    background: url(img/tck-big-close.png) no-repeat top right;
}
.big-title .close a:hover {
    background-position: 0px -20px;
}

#dialog .question {
	height:49px;
	width:49px;
	background-image:url(img/question.png);
	float:right;
}
#dialog .right {
	height:49px;
	width:49px;
	background-image:url(img/right.png);
	float:right;
}

#dialog .warn {
	height:49px;
	width:49px;
	background-image:url(img/warn.png);
	float:right;
}
#dialog .error {
	height:49px;
	width:49px;
	background-image:url(img/error.png);
	float:right;
}



/**------------------------------------------------------------------------**/

.my-button{
    font-family: "microsoft yahei", "Î¢ÈíÑÅºÚ";
    position: relative;
    display: inline-block;
    line-height: 25px;
    padding: 1px 12px;
    transition: all .3s ease-out;
    text-transform: uppercase;
    border: 1px solid #90cd00;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    /* -webkit-border-radius: 2px; */
    background-color: #90cd00;
    font-size: 14px;
    outline:none;
}
.my-button:hover {
  background-color: #9bdb03;
}




