button{
	display:block;}
select {
	display: block;
}

.select_box {
	FONT-SIZE: 14px;
	line-height: 30px;
	border: 1px solid #40a7da;
	background-color: #FFF;
	height: 30px;
	font-family: "微软雅黑";
	width: 245px;
}
.select_showbox {
	height: 30px;
	padding-left: 5px;
	background: url(icon.png) no-repeat 215px 0;
}
.select_option {
	border: 1px solid #40a7da;
	border-top: none;
	display: none;
	margin-top: 1px;
	z-index: 1;
	position: relative;
	background: #fff;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
.select_option li {
	padding: 5px;
	margin: 0;
}
.select_option li.selected {
	background-color: #ccc;
	color: #fff;
}
.select_option li.hover {
	background: #40a7da;
	color: #fff;
}
#main .bd .tabn .lz1 {
	font-size: 14px;
	color: #40a7da;
	line-height: 50px;
	padding-right: 20px;
	text-align:right;
}
#main .bd .tabn .hz1 {
	font-size: 18px;
	color: #333;
	line-height: 50px;
}
#main .bd .tabn . {
 font-size:14px;
 color:#000;
 line-height:20px;
}
#tck {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei", "微软雅黑";
	background: #fff;
	font-size: 12px;
	color: #333333;
	width: 1000px;
}
.title {
	background: #e4e5e5;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #b2b2b2;
	padding: 0 20px;
	font-size: 14px;
	position: relative;
}
.float-left {
	float: left;
	font-size: 14px;
}
.float-right {
	width: 22px;
	height: 20px;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 101;
}
.float-right a {
	display: block;
	overflow: hidden;
	width: 22px;
	height: 20px;
	background: url(../images/tck-close.png) no-repeat top right;
}
.float-right a:hover {
	background-position: 0px -20px
}
.nr {
	margin-top: 10px;
	padding: 0 20px;
}
.nr .title-mbx {
	margin: 10px;
	font-size: 14px;
}
.nr .border {
	border-radius: 4px;
	border: 1px solid #e4e5e5;
	padding: 10px;
	line-height: 30px;
}
.dazit {
	padding-right: 30px;
}
/*列表样式*/
th, td {
	font-weight: normal;
}

.list {
	border-top: 1px solid #e3e3e3;
}
.datatable {
	border-collapse: collapse;
	background: #fff;
	font-family: "微软雅黑";
	font-size: 12px;
}
.datatable img {
	line-height: 20px;
	vertical-align: middle;
	display:block;
}
.datatable th {
	background-color: #2aa1d9;
	height: 35px;
	line-height: 35px;
	color: #fff;
	text-align: left;
	padding-left: 10px;
}
.datatable td {
	border-bottom: 1px solid #e4e5e5;
	height: 35px;
	line-height: 35px;
	text-align: left;
	padding-left: 10px;
}
.write {
	color: #fff;
}
.datatablediv {
	overflow: hidden;
}
.list img {
	margin-top: -25px;
	float: right;
	margin-right: 4px;
}
.datatable caption {
	color: #33517A;
	padding-top: 3px;
	padding-bottom: 8px;
}
.datatable tr:hover, .datatable tr.hilite {
	background-color: #f3f4f4;
	color: #000000;
}
.qh-loginout {
	width: 24px;
	height: 22px;
}
.qh-loginout a {
	display: block;
	overflow: hidden;
	width: 24px;
	height: 22px;
	background: url(../images/loginout.png) no-repeat top right;
}
.qh-loginout a:hover {
	background-position: 0px -22px
}
.gl-btn2 {
	
	font-family: "microsoft yahei", "微软雅黑";
	position: relative;
	line-height: 25px;
	padding: 1px 20px;
	transition: all .3s ease-out;
	border: 1px solid #90cd00;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background-color: #90cd00;
	font-size: 14px;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	float:left;
	
}
.gl-btn2:hover {
	background: #9bdb03;
}
/*手工开奖样式*/
# {
 margin:0 auto;
}
#main .jdt {
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}
#main .xd {
	text-align: left;
	width: 1000px;
	margin: 0 auto;
}
#main .xd span {
	padding-left:70px;
	color: #cac9c9;
	text-shadow: 1px 1px 1px #fff;
}

#main .xd span.zi {
	color: #f64f48;
	text-shadwo: 1px 1px 1px #fff;
}
#main .bd {
	margin-top: 10px;
}
#main .xd-cn {
	text-align: left;
	width: 1000px;
	margin: 0 auto;
}
#main .xd-cn  span {
	padding-left:130px;
	color: #cac9c9;
	text-shadow: 1px 1px 1px #fff;
}

#main .xd-cn  span.zi {
	color: #f64f48;
	text-shadwo: 1px 1px 1px #fff;
}

.bkzx {
	border-bottom: 1px solid #eff1f4;
	border-right: 1px solid #eff1f4;
}
.bkx {
	border-bottom: 1px solid #eff1f4;
}
/*left不可用左箭头样式*/



#main .bd .tab {
	background: #fff;
	width: 1100px;
	margin: 0 auto;
	box-shadow: -1px 3px 4px 2px #dddcdc;
	-webkit-box-shadow: -1px 3px 4px 2px #dddcdc;
	padding: 10px;
}
#main .bd .tabn {
	border: 1px solid #d6d6d6;
	margin-top: 10px;
	margin: 0 auto;
	padding-bottom: 20px;
	width: 1100px;
	height: auto;
}
#main .bd .tabn .tit {
	border-bottom: 1px solid #d6d6d6;
	height: 40px;
	line-height: 30px;
	text-align: left;
	padding-left: 20px;
}
#main .bd .tabn span {
	color: #27a0d7;
	font-size: 18px;
}
#main .bd .tabn .lz {
	font-size: 18px;
	color: #40a7da;
	line-height: 80px;
}
.lz2{
	font-size:18px; 
	padding-left:10px;
	padding-right:10px;
	line-height:30px;}
.hoz{
	color:#F00;}
#main .bd .bot {
	height: 30px;
	margin-top: 20px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #40a7da;
	line-height: 30px;
}
#title {
	height: 51px;
	line-height: 51px;
	background: #fafafa;
	font-size: 24px;
	padding-left: 15px;
	color: #2aa1d9;
	border-bottom: 1px solid #e3e3e3;
}
.input_out {
	display:block;
	padding-left: 3px;
	font-size: 14px;
	line-height: 28px;
	border: 1px solid #40a7da;
	background-color: #FFF;
	height: 28px;
	font-family: "微软雅黑";
}
.edui-editor {
	border: 1px solid #DDD;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #B7B7B7;
	background-color: #FFFFE6;
	position: relative;
	overflow: visible;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0 1px 1px #d3d1d1;
	margin-top: 0px;
	width: 100%;
	font-family: "微软雅黑";
	color: #40a7da;
	font-size: 24px;
	line-height: 50px;
	height: 50px;
}
.edui-editor1 {
	border: 1px solid #DDD;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #B7B7B7;
	background-color: #fff;
	position: relative;
	overflow: visible;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 0 1px 1px #d3d1d1;
	margin-top: 0px;
	width: 100%;
	font-family: "微软雅黑";
	color: #000;
	font-size: 14px;
	padding: 5px;
}
