.Wdate{
	border:#00adee 1px solid;
	height:30px;
	background:#fff url(datePicker.gif) no-repeat right;
	width:202px;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}
.Wdates{
	border:#00adee 1px solid;
	height:30px;
	background:#fff url(datePicker.gif) no-repeat right;
	width:253px;
}
